










<nav class="navbar navbar-expand-lgnavbar-full navbar-light bg-warning">
    <a class="navbar-brand" href="#">Med amine eloudi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="#">à propos de moi</a>
            </li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">portfolio
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Experience</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">certification</a></li>
                </ul>
            </li>

            <li class="nav-item link-light">
                <a class="nav-link" href="#">contact </a>
            </li>

        </ul>

    </div>
</nav>