{% extends 'base.html.twig' %}
{% block title%} Liste des articles {% endblock %}

{% block body %}

    {{ include('inc/navbar.html.twig') }}

<h1> amine </h1>



    {{ include('inc/footer.html.twig') }}

{% endblock %}